@import '../../../styles/breakpoints.scss';
@import '../../../styles/varibles.scss';

.stats-container {
	height: 50vh; //fallback option
	height: calc(var(--vh, 1vh) * 50);
	padding-top: 400px;
	background-color: $white;
	.progress-bar {
		width: 200px;
		height: 200px;
	}
	.row {
		flex-direction: column;
		justify-content: center;
		.main-stat-container {
			text-align: center;
			.main-stat {
				font-size: 4rem;
				background-color: #5d5c5c;
				padding: 20px 10px;
				border-radius: 1rem;
				span {
					font-weight: 700;
				}
			}
			.completed {
				background-color: #b5e48c;
			}
			.in-progress {
				background-color: #e4e38c;
			}
			.not-started {
				background-color: #e48c8c;
			}
		}
		h2 {
			font-size: 3rem;
			line-height: 4.2rem;
			font-weight: 700;
			z-index: 10;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				padding-top: 200px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}
		.btn-row {
			position: relative;
			text-align: center;
			z-index: 2;
			width: 400px;
			.days {
				font-size: 1.6rem;
				color: $black;
				text-decoration: none;
				display: flex;
				align-items: center;
				font-weight: 600;
				@include media('<=tablet') {
					font-size: 1.3rem;
				}
				@include media('<=phone') {
					font-size: 1.1rem;
					padding-top: 10px;
					margin-left: 130px;
				}
			}
			.total {
				font-size: 1.6rem;
				color: $black;
				text-decoration: none;
				display: flex;
				align-items: center;
				font-weight: 600;
				@include media('<=tablet') {
					font-size: 1.3rem;
				}
				@include media('<=phone') {
					font-size: 1.1rem;
					padding-top: 10px;
					margin-left: 130px;
				}
			}
			.stats {
				display: flex;
				margin: 0 10px;
				@include media('<=tablet') {
					font-size: 1.3rem;
				}
				@include media('<=phone') {
					display: flex;
					flex-direction: column;
					margin-left: 25px;
					margin-top: 10px;
				}
			}
		}
		.extra-stats-container {
			border: 1px solid #999999;
			border-radius: 1rem;
			margin-top: 2rem;
			margin-bottom: 2rem;
			padding: 10px 20px;
			.extra-stats-title {
				text-align: center;
				font-size: 1.7rem;
				margin: 5px;
			}
			.stat-row {
				display: flex;
				justify-content: space-between;
				align-items: center;
				font-size: 1.5rem;
				padding: 10px;
				line-height: 1;
				.stat-value {
					background-color: #b5e48c;
					padding: 5px 20px;
					margin-left: 5px;
					border-radius: 1rem;
				}
			}
		}
	}
}
