@import '../../../styles/breakpoints.scss';
@import '../../../styles/varibles.scss';

.userbars-container {
	height: 50vh; //fallback option
	height: calc(var(--vh, 1vh) * 50);
	background-color: $white;
	padding-top: 400px;
	.row {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		h2 {
			font-size: 2.4rem;
			line-height: 4.2rem;
			font-weight: 700;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}

		.skills {
			h2 {
				font-size: 2.4rem;
				font-weight: 600;
				text-align: center;

				@include media('<=tablet') {
					font-size: 2rem;
					line-height: 3rem;
				}
				@include media('<=phone') {
					margin-top: 72px;
					font-size: 1.7rem;
					line-height: 2.2rem;
				}
			}

			a {
				text-decoration: none;
				color: black;
			}

			p {
				font-size: 2rem;
				font-weight: 500;
				text-align: center;

				@include media('<=tablet') {
					font-size: 2rem;
					line-height: 3rem;
				}
				@include media('<=phone') {
					margin-top: 72px;
					font-size: 1.7rem;
					line-height: 2.2rem;
				}
			}

			.skill {
				display: flex;
				flex-direction: row;
				align-items: center;

				transition-duration: 294ms;
				transition-property: background-color;
				transition-timing-function: ease-out;

				width: 50rem;
				border-radius: 1rem;
				margin: 5px 0;
				padding: 10px 20px;
				background-color: #cacaca;
				border-radius: 1em;

				&:hover {
					background-color: rgba(119, 119, 119, 0.7);
					border-radius: 1em;
				}

				.skill-title {
					padding-right: 900px;
					display: flex;
					align-items: center;
				}
			}
			.completed {
				background-color: #81db7e;
			}
		}
	}
}
