@import '../../../styles/breakpoints.scss';
@import '../../../styles/varibles.scss';

.mindful-input-container {
	height: 50vh; //fallback option
	height: calc(var(--vh, 1vh) * 50);
	background-color: $white;
	text-align: center;

	@include media('<=tablet') {
		margin-top: 72px;
	}
	@include media('<=phone') {
		margin-top: 260px;
		padding-top: 300px;
	}
	.rows {
		flex-direction: column;
		justify-content: center;
		h2 {
			font-size: 3rem;
			font-weight: 700;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}

		p {
			font-size: 2rem;
			font-weight: 500;
			text-align: center;

			@include media('<=tablet') {
				font-size: 2rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}
	}
	.second-row {
		margin: 100px 0;
		.time {
			h3 {
				font-size: 2rem;
				font-weight: 500;
				@include media('<=tablet') {
					font-size: 2rem;
					line-height: 3rem;
				}
				@include media('<=phone') {
					font-size: 1.7rem;
					line-height: 2.2rem;
				}
			}

			.time-counter {
				font-size: 2rem;
				font-weight: 500;
				text-align: center;
				width: 6rem;

				@include media('<=tablet') {
					font-size: 2rem;
					line-height: 3rem;
				}
				@include media('<=phone') {
					margin-top: 72px;
					font-size: 1.7rem;
					line-height: 2.2rem;
				}
			}
		}

			input {
				font-size: 2rem;
				font-weight: 500;
				text-align: center;
				width: 6rem;

				@include media('<=tablet') {
					font-size: 2rem;
					line-height: 3rem;
				}
				@include media('<=phone') {
					margin-top: 72px;
					font-size: 1.7rem;
					line-height: 2.2rem;
				}
			}
		}

			button {
				color: #000000;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 25px;
				outline: none;
				cursor: pointer;
				padding: 9px 25px;
				background-color: #d8f3dc;
				border: none;
				border-radius: 50px;
				transition: all 0.3s ease 0s;
				margin-right: 30px;

				&:hover {
					transform: translate(0, 5px);
					background-color: rgb(216, 243, 220, 0.8);
				}
			}
		}


		.add-button {
			button {
				color: #000000;
				font-weight: 500;
				font-size: 1.4rem;
				line-height: 25px;
				outline: none;
				cursor: pointer;
				padding: 9px 25px;
				background-color: #d8f3dc;
				border: none;
				border-radius: 50px;
				transition: all 0.3s ease 0s;
				margin-right: 30px;
				margin-top: 30px;
				text-align: center;
				&:hover {
					transform: translate(0, 5px);
					background-color: rgb(216, 243, 220, 0.8);
				}
			}
		}
	
// Radio buttons

.radio-toolbar input[type='radio'] {
	opacity: 0;
	width: 0;
}

.radio-toolbar label {
	font-weight: 500;
	font-size: 1.4rem;
	line-height: 25px;
	cursor: pointer;
	padding: 9px 25px;
	background-color: #d8f3dc;
	border: none;
	border-radius: 50px;
	margin-right: 30px;
}

.radio-toolbar label:hover {
	background-color: #d8f3dccc;
	transform: translate(0, 5px);
}

.radio-toolbar input[type='radio']:checked + label {
	background-color: #bfb;
	border: 1px solid #4c4;
}
