@import '../../styles/varibles.scss';

.centering {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	height: 600px;
	background: #c8c8c8;
	border-radius: 10px;
}

.centering h1 {
	text-align: center;
	padding: 0 0 20px 0;
	border-bottom: 1px solid silver;
}

.centering form {
	padding: 0 40px;
	box-sizing: border-box;
}
form .txt_field {
	position: relative;
	background-color: white;
	border-bottom: 2px solid #adadad;
	margin: 25px 0;
}

.txt_field input {
	width: 100%;
	padding: 0 5px;
	height: 55px;
	font-size: 16px;
	border: none;
	background: none;
	outline: none;
}

.txt_field label {
	position: absolute;
	top: 50%;
	left: 5px;
	color: #adadad;
	transform: translateY(-50%);
	font-size: 16px;
	pointer-events: none;
	transition: 0.5s;
}

.txt_field span::before {
	content: '';
	position: absolute;
	top: 40px;
	left: 0;
	width: 0%;
	height: 2px;
	background: rgb(182, 230, 173);
	transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
	top: 10px;
	color: rgb(189, 230, 173);
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
	width: 100%;
}

.pass {
	margin: -5px 0 20px 5px;
	color: #000000;
	cursor: pointer;
}

.pass:hover {
	text-decoration: underline;
}

.loginButton {
	width: 100%;
	margin: 10px 0;
	height: 50px;
	border: none;
	background: #2691d9;
	border-radius: 25px;
	font-size: 18px;
	font-weight: 700;
	color: #e9f4fb;

	cursor: pointer;
	outline: none;
}

.loginButton:hover {
	background-color: #176090;
	transition: 0.5s;
}

.signup_link {
	text-align: center;
	font-size: 16px;
	color: rgb(0, 0, 0);
	text-decoration: none;
}

.signup_link:hover {
	text-decoration: underline;
}
