.parent {
    background-color: hsla(200, 100%, 20%);
    height: 400px;
    width: 400px;
}

.child {
    background-color: red;
    height: 50%;
    width: 100%;
    transition: transform 1s;
}

.parent:hover .child {
    animation: down-up 1s forwards;
}

@keyframes down-up {
    100% {
        transform: translateY(100%);    
    }
}