@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

* {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

.absolute {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(9, 9, 9);
  z-index: 1;
}

.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: "all 0.25s ease-in-out";
  background-color: rgb(9, 9, 9);
  color: #dbd8d6;
}

.loader-wrapper h1 {
  font-size: 1.5vw;
  text-transform: uppercase;
  font-weight: 600;
}
.loader-wrapper h2 {
  font-size: 1.5vw;

  text-transform: uppercase;
  font-style: italic;
  margin-top: 10px;
}