.timeline {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: #{(15 + 2) * 8}px;


&-fill {
    height: 15px;
    width: 15px;
    border: 1px solid rgba(0,0,0,0.1);
    margin: 2px;
    border-radius: 2px;
    background-color: rgba(0,0,0,0.05);
}
}