li, a, button {
    font-weight: 500;
    font-size: clamp(12px, 5vw, 20px);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

header img {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: 200px;
    height: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background-color: rgb(82, 183, 136);
    min-height: 10vh;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgb(216, 243, 220);
}

.end-button {
    margin: 0 20px;
} 

button {
    padding: 9px 25px;
    background-color: rgba(149, 213, 178, 1);
    border: none;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(149, 213, 178,0.8);
}

.lineChildren {
    transform: translate(0, 10px);
  }

.lineChildren {
    overflow: hidden;
  }