@import '../../../styles/breakpoints.scss';
@import '../../../styles/varibles.scss';

$green: #49b64e;

.calstats-container {
	background-color: $white;
	padding-top: 120px;
	text-align: center;
	opacity: 0;
	.progress-bar {
		width: 200px;
		height: 200px;
	}
	.page-icon {
		font-size: 7rem;
		line-height: 0;
		margin: 0;
		color: $green;
	}
	.page-title {
		margin: 0;
		margin-top: 20px;
	}
	.row {
		flex-direction: column;
		justify-content: center;
		text-align: center;
		.main-stat {
			display: flex;
			flex-direction: column;
			align-items: center;
			font-size: 4rem;
			padding: 20px 10px;
			border-radius: 1rem;
			.main-stat-title {
				font-size: 2.5rem;
				margin: 0 0 20px 0;
			}
		}
		h2 {
			font-size: 3rem;
			line-height: 4.2rem;
			font-weight: 700;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}
		.total-calories {
			font-size: 3rem;
			font-weight: 700;
			text-align: center;
		}
	}

	.todays-cals {
		h2 {
			font-size: 2.4rem;
			line-height: 4.2rem;
			font-weight: 700;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}

		input {
			width: 300px;
			height: 100px;
		}
	}

	.extra-stats-container {
		border: 1px solid #999999;
		border-radius: 1rem;
		margin-top: 2rem;
		margin-bottom: 2rem;
		padding: 10px 20px;
		.extra-stats-title {
			text-align: center;
			font-size: 1.7rem;
			margin: 5px;
		}
		.stat-row {
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 1.5rem;
			padding: 10px;
			line-height: 1;
			.stat-value {
				background-color: $green;
				padding: 5px 20px;
				margin-left: 5px;
				border-radius: 1rem;
			}
			.protein {
				background-color: #37a9d6;
			}
			.carbohydrate {
				background-color: #9f3ba3;
			}
			.fat {
				background-color: #ffae18;
			}
		}
	}


	.remaining-cals {
		h2 {
			font-size: 2.4rem;
			line-height: 4.2rem;
			font-weight: 700;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}

		span {
			font-size: 2.4rem;
			font-weight: 500;
			color: orange;
			@include media('<=tablet') {
				font-size: 2.4rem;
				line-height: 3rem;
			}
			@include media('<=phone') {
				margin-top: 72px;
				font-size: 1.7rem;
				line-height: 2.2rem;
			}
		}


	}
}
