@import '../../../styles/breakpoints.scss';
@import '../../../styles/varibles.scss';

.meter-container {
	padding-top: 50px;
	display: flex;
	justify-content: center;
	opacity: 0;
	.row {
		display: flex;
		flex-direction: column;
		.page-title {
			font-size: 2.5rem;
		}
		.meter {
			border: 1px solid #dddddd;
			border-radius: 100%;
			.meter-inner-circle {
				width: 130px;
				height: 130px;
				background-color: #81db7e;
				border-radius: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			.meter-logo {
				width: 70px;
				height: 70px;
			}
		}
		.icons {
			padding: 10px;
			display: flex;
			.icon {
				font-size: 4rem;
				margin: 15px;
			}
			.water {
				color: #37a9d6;
			}
			.mindful {
				color: #9f3ba3;
			}
			.exercise {
				color: #ffae18;
			}
			.meal {
				color: #49b64e;
			}
		}
	}
}
